.group
  =f.label :title
  =f.error_message_on :title
  ~f.text_field :title, :class => :text_area
  %span.description Ex: a simple text

.group
  =f.label :label
  =f.error_message_on :label
  ~f.text_field :label, :class => :text_area
  %span.description Ex: a simple text

.group
  =f.label :name
  =f.error_message_on :name
  ~f.text_field :name, :class => :text_area
  %span.description Ex: a simple text

.group
  =f.label :body
  =f.error_message_on :body
  ~f.text_area :body, :class => :text_area
  %span.description Ex: a simple text

.related_items
  .group
    =f.label "Item relacionado"
    =select_tag("item_1", include_blank: true, grouped_options: @question_options, selected: (@information.items[0].id unless @information.items[0].nil?) )
    %br
  .group
    =f.label "Item relacionado 2"
    =select_tag("item_2", include_blank: true, grouped_options: @question_options, selected: (@information.items[1].id unless @information.items[1].nil?) )
    %br
  .group
    =f.label "Item relacionado 3"
    =select_tag("item_3", include_blank: true, grouped_options: @question_options, selected: (@information.items[2].id unless @information.items[2].nil?) )
    %br

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:information, :index)}';return false", :class => :button
