.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:information, :index)
      %li.active=link_to pat(:new), url(:information, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:information)
    .inner
      -form_for :information, url(:information, :create), :class => :form do |f|
        =partial "information/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
