@-moz-keyframes stretch-me { 0% { width: 385px; }
  100% { width: 700px; } }

@-moz-keyframes shrink-me { 0% { width: 700px; }
  100% { width: 385px; } }

@-webkit-keyframes stretch-me { 0% { width: 385px; }
  100% { width: 700px; } }

@-webkit-keyframes shrink-me { 0% { width: 700px; }
  100% { width: 385px; } }

body { background: url("/images/bg.png") repeat; }

h1, h2 { margin: 1.2em 0 .6em; font-family: "BenchNine", monospace; }

h1 { font-size: 120px; text-align: center; text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2), -2px -2px 0 white; text-transform: uppercase; }

h2 { font-size: 40px; text-shadow: 1px -1px white; }

#content { margin: 0 auto; padding: 50px 0; width: 800px; }

.map-container { height: 250px; position: relative; z-index: 9999; -moz-animation: shrink-me 2s forwards 1; -webkit-animation: shrink-me 2s forwards 1; }

.map-container:hover { -moz-animation: stretch-me 2s forwards 1; -webkit-animation: stretch-me 2s forwards 1; }

.question-wrapper > h2 { margin-top: 0; }

.question-content div[class^="item"] { margin-bottom: 10px; }
.question-content input[type=checkbox] { display: inline; margin: 0 0 2px; }
.question-content label { display: inline; font-size: 18px; font-weight: bold; }
.question-content div[class^="subitem"] { margin-left: 25px; }

.hero-unit { padding: 28px; box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.1) inset, 1px 1px 3px rgba(0, 0, 0, 0.5); }

/*
.color-0 { background-color: #f47f31; }
.color-1 { background-color: #5fbd60; }
.color-2 { background-color: #e73638; }
.color-3 { background-color: #1a83c6; }
*/
.color-0 { background-color: rgba(244, 127, 49, 0.5); }

.color-1 { background-color: rgba(26, 131, 198, 0.5); }

.color-2 { background-color: rgba(231, 54, 56, 0.5); }

.color-3 { background-color: rgba(95, 189, 96, 0.5); }
