%header
  #header-content
    %a#main-logo{ href: "/" }

%section#hints
  .inner-section.row-fluid
    .column.span4
      %h2 En construcci&oacute;n 
    .column.span8
      %p Aqui dispondremos la informaci&oacute;n necesaria para utilizar la API. 
