%section#submissions
  .inner-section
    %h1 Informacion 
    %h4 Sugerencias
    %ul
      - @suggestions.each do |s|
        %li #{s}
    %h4 Ac&aacute; te dejamos la informaci&oacute;n necesaria para llevar adelante todos los tramites necesarios:
    - @submission.informations.each do |information|
      = haml render_information_template(information), locals: { information: information }, layout: false
    %h4 Esperamos que sean de utilidad.
