.question-wrapper{ class: "#{question.name} color-#{color_index}" }
  %h2 
    = question.label
  - question.items.each do |item|
    .question-content
      = haml :'helpers/_item', locals: { item: item, question: question }, layout: false
