= input_text({ label: "Name", name: "information[name]", value: information.name, errors: @information.errors}) 
= input_text({ label: "Title", name: "information[title]", value: information.title, errors: information.errors }) 
= input_text({ label: "Label", name: "information[label]", value: information.label, errors: information.errors }) 
= text_area( { label: "Body", name: "information[body]", value: information.body, errors: information.errors })
