#content
  %img.logo{ src: "/images/logo_126px.png" }
  %h1 #{'<span>me</span>robaron.com'} 
  .subtitle comunidades seguras, concientes y sin miedo.
  %h2 Y ahora que hago? 
  %form{ method: "POST", action:"/submissions/new"}
    #when-where-wrapper.question-wrapper.hero-unit.color-3
      %h2 
        <i class="icon-map-marker"></i>
        Ubicacion y Tiempo
      .question-content.row-fluid
        .left.span7
          #map-field.map-container.well
            %div#map-wrapper{ style: "height:100%;width:100%;" }
            %div.fields
              %input#lat{ type: "hidden",  name: "submission[lat]" }
              %input#long{ type: "hidden", name: "submission[long]" }
              %input#seccionalNumber{ type: "hidden", name: "submission[station_number]" }

        .right.span5
          %h2 Cuando?
          %input.datepicker.well{name: "happened_at"}
      
    - questions.each_with_index do |question, index|
      = haml :'helpers/_question', locals: { question: question, color_index: index }, layout: false
      
    %input.btn.btn-danger.btn-large.pull-right{type: "submit", value: "Denunciar"}

:javascript
  $(function(){
    $("#map-field").mapWidget();

    $('.datepicker').datetimepicker({
      dateFormat: "yy-mm-dd",
    });
  });
