#content
  %h1 Me robaron 
  %h2 Y ahora que hago? 
  %p El 60% de las personas no realizan la denuncia policial, ayudanos entre todos a cambiar esto y hacer nuestra ciudad un lugar mas seguro.
  #when-where-wrapper.question-wrapper.hero-unit
    %h2 
      <i class="icon-map-marker"></i>
      Ubicacion y Tiempo
    .question-content.row-fluid
      .left.span7
        #map-field.map-container.well
          %div#map-wrapper{ style: "height:100%;width:100%;" }
          %div.fields
            %input#lat{ type: "hidden" }
            %input#long{ type: "hidden" }
            %input#seccionalNumber{ type: "hidden" }

      .right.span5
        %h2 Cuando?
        .ui-datepicker.well

    :javascript
      $(function(){
          $("#map-field").mapWidget();
          $('.ui-datepicker').datetimepicker({
            dateFormat: "yy-mm-dd",
          });
      });
    
  - questions.each do |question|
    = haml :'helpers/_question', locals: { question: question }, layout: false
    
  %a.btn Denunciar
