%header
  #header-content
    %a#main-logo{ href: "/" }
= haml :'_nav', layout: false

#controls
  %input.start.datepicker{type:"text", placeholder: "Fecha de inicio"}
  %input.end.datepicker{type:"text", placeholder: "Fecha de fin"}
  %input.btn.btn-primary.refresh{type:"button", value:"Ver datos"}
  %input.btn.btn-success.download{type:"button", value:"Descargar Datos"}
%div#map-field
  %div#map-wrapper{ style:"position:absolute;height:100%;width:100%;" }

  :javascript
    $(function(){
        $("#map-field").mapStatsWidget();
    });
